<%- include('layout', { title: "All Blogs", body: ` 
    <h2>All Blogs</h2>
    <a href="/blogs/new" class="button">Create New Blog</a>
    <ul class="blog-list">
        <% blogs.forEach(blog => { %>
            <li>
                <a href="/blogs/<%= blog._id %>"><%= blog.title %></a>
                <small>by <%= blog.author.username %></small>
            </li>
        <% }) %>
    </ul>
` }) %>


